.Loader {
    border: 10px solid #37404f;
    border-top: 10px solid #0bd6c0;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: loader-spin 2s linear infinite;
    margin: auto;
    margin: 25px auto;
}

@keyframes loader-spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}